<!DOCTYPE html>
<html>
  <head>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <h1 class="heading"><%= title %></h1>
    </nav>
    <div class="row row1">
      <% message.map(msg=>{ %>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title"><%= msg.user %></h5>
            <h6 class="card-subtitle mb-2 text-muted">
              <%= msg.added.toLocaleDateString() %>
            </h6>
            <p class="card-text"><%= msg.text %></p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
    <div class="footer">
      <a href="/new" class="bot-btn">New Message</a>
    </div>
  </body>
</html>
